body {
    background-color: #BBB;
    font-family: "Arial", sans-serif;
}

.column {
    margin: 1px;
    display: inline-block;
    width: calc(100% / 6 - 5px);
    /*border: 1px solid black;*/
    vertical-align: top;
}

.column .col-body {
    padding: 3px;
}

.column .col-body table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid black;
}

.column table th {
    text-align: left;
}

.column table td {
    border-bottom: 1px dotted black;
    min-width: 20px;
}

.column .col-head {
    font-size: 18px;
    /*border-bottom: 1px solid black;*/
    font-weight: bold;
    text-align: center;
    padding: 3px;
}

#points-wrapper {
    padding: 12px;
    display: inline-block;
}

#points-wrapper table {
    border-spacing: 0;
}

#points-wrapper table tr td {
    min-width: 90px;
    text-align: center;
}

#points-wrapper table tr td:first-child {
    text-align: left;
}

#point-total td {
    border-top: 1px solid black;
}

cap {
    text-transform: capitalize;
}

select {
    padding: 3px
}

#challenge-list, #controls {
    padding: 12px;
    margin-left: 50px;
    vertical-align: top;
    display: inline-block;
}

.general-control-button {
    min-width: 100%;
    padding: 3px;
}

#reset-challenges {
    /*background-color: #af2222;*/
}
#generate-solo {

}
#generate-duo {

}

#challenge-list-body table {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px
}

#challenge-list-body table tr td {
    padding: 4px;
}

#challenge-list-body table tr:not(.header-row) {
     user-select: none;
}

#challenge-list-body table tr:not(.header-row):hover {
    cursor:pointer;
}

td.highlighted {
    background-color: #fc4e4e;
    border: 1px solid red;
    font-weight: bold;
    color: #000000;
}

sup.info {
    user-select: none;
    margin-left: 3px;
    padding: 0 2px 2px 2px;
    /*background-color: #717171;*/
    border-width: 1px;
    border-style: solid;
    font-weight: bolder;
    font-family: Consolas, serif;
    text-align: center;
    display: inline-block;
    border-radius: 100px;
    /*width: 1em;*/
    height: 1em;
}